<h1> <%= t('guided.form.title') %></h1>
<h4> <%= t('guided.form.description') %></h4>

<%= form_tag do |form| %>

  <div class="row">
    <div class="col">

      <%= rb_yne(:distance) %>
      <%= rb_yne(:age) %>
      <%= label_tag(:intimidated,  t('guided.form.intimidated.description')) %><br>
      <%= check_box_tag(:intimidated, value = 1) %> <%= t('fill_fencers.form.intimidated.label') %><p/>

      <%= submit_tag(t('fill_fencers.form.submit'), class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
