<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= add_locale_to_url('/') %>><%= t('shared.home')%></a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/fill_fencer/index') %>><%= t('shared.fill')%></a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/guided/index') %>><%= t('shared.guided')%></a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/contact/index') %>><%= t('shared.contact')%></a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/show_suggests/index') %>><%= t('shared.suggest')%></a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/training/index') %>><%= t('shared.training')%></a>
      <a class="navbar-brand" href=<%= swap_locale %>><%= t('shared.swap_locale')%></a>
    </div>
  </div>
</nav>
