<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= add_locale_to_url('/') %>>Inicio</a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/fill_fencer/index') %>>Llenar</a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/guided/index') %>>Guiado</a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/contact/index') %>>Contacto</a>
      <a class="navbar-brand" href=<%= add_locale_to_url('/show_suggests/index') %>>Sugerencias</a>
      <a class="navbar-brand" href=<%= swap_locale %>>Idioma</a>
    </div>
  </div>
</nav>
