<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href=<%= add_locale_to_url('/') %>>MyFencingTrainer <%= image_tag("logo.jpeg", width: 30, height: 30, class: "d-inline-block align-top") %></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= @current_page == 'home' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/') %>><%= t('shared.home')%><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= @current_page == 'fill_fencer' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/fill_fencer/index') %>><%= t('shared.fill')%></a>
      </li>
      <li class="nav-item <%= @current_page == 'guided' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/guided/index') %>><%= t('shared.guided')%></a>
      </li>
      <li class="nav-item <%= @current_page == 'contact' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/contact/index') %>><%= t('shared.contact')%></a>
      </li>
      <li class="nav-item <%= @current_page == 'show_suggests' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/show_suggests/index') %>><%= t('shared.suggest')%></a>
      </li>
      <li class="nav-item <%= @current_page == 'training' ? 'active' : '' %>">
        <a class="nav-link" href=<%= add_locale_to_url('/training/index') %>><%= t('shared.training')%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= swap_locale %>><%= t('shared.swap_locale')%></a>
      </li>
    </ul>
  </div>
</nav>
