<div class="alert alert-dark" role="alert">
<%= t('welcome.introduction1')  %> <br><br>
<%= t('welcome.introduction2')  %> <br><br>
<%= t('welcome.introduction3')  %> <br><br>
<%= t('welcome.using_moments')  %> <br><br>
<%= t('welcome.ways_to_use')  %> <br><br>
<%= t('welcome.way_1')  %> <br><br>
<%= t('welcome.way_2')  %> <br><br>
</div>
