<h1> <%= t('fill_fencers.form.title') %></h1>

<%= form_tag do |form| %>

  <div class="row">
    <div class="col-xs-5">
      <%= label_tag(:fencer1, t('fill_fencers.form.fencer', {number: 1})) %> <p/>

      <%= label_tag(:grip_label, t('fill_fencers.form.grip.description')) %><br>
      <%= radio_button_tag(:grip1, "french") %> <%= t('fill_fencers.form.grip.french') %><p/>
      <%= radio_button_tag(:grip1, "anatomic") %> <%= t('fill_fencers.form.grip.anatomic') %><p/>


      <%= label_tag(:intimidated,  t('fill_fencers.form.intimidated.description')) %><br>
      <%= check_box_tag(:intimidated1, value = 1) %> <%= t('fill_fencers.form.intimidated.label') %><p/>


      <%= label_tag(:height, t('fill_fencers.form.height')) %><br>
      <%= number_field_tag(:height1, options={min: 80, max: 250, step: 1}) %><p/>

      <%= label_tag(:age, t('fill_fencers.form.age')) %><br>
      <%= number_field_tag(:age1, options={min: 4, max: 120, step: 1}) %><p/>

      <%= label_tag(:ranking_label, t('fill_fencers.form.ranking')) %><br>
      <%= number_field_tag(:ranking1, options={min: 4, max: 120, step: 1}) %><p/>

      <%= label_tag(:handness_label, t('fill_fencers.form.handness.description')) %><br>
      <%= radio_button_tag(:handness1, "Right") %> <%= t('fill_fencers.form.handness.right') %><p/>
      <%= radio_button_tag(:handness1, "Left") %> <%= t('fill_fencers.form.handness.left') %><p/>

      <%= label_tag(:weapon_label, t('fill_fencers.form.weapon.description')) %><br>
      <%= radio_button_tag(:weapon1, "Epee") %> <%= t('fill_fencers.form.weapon.epee') %><p/>
      <%= radio_button_tag(:weapon1, "Sabre") %> <%= t('fill_fencers.form.weapon.sabre') %><p/>
      <%= radio_button_tag(:weapon1, "Foil") %> <%= t('fill_fencers.form.weapon.foil') %><p/>
    </div>

    <div class="col-xs-5">
      <%= label_tag(:fencer2, t('fill_fencers.form.fencer', {number: 2})) %> <p/>

      <%= label_tag(:grip_label, t('fill_fencers.form.grip.description')) %><br>
      <%= radio_button_tag(:grip2, "french") %> <%= t('fill_fencers.form.grip.french') %><p/>
      <%= radio_button_tag(:grip2, "anatomic") %> <%= t('fill_fencers.form.grip.anatomic') %><p/>


      <%= label_tag(:intimidated,  t('fill_fencers.form.intimidated.description')) %><br>
      <%= check_box_tag(:intimidated2, value = 1) %> <%= t('fill_fencers.form.intimidated.label') %><p/>


      <%= label_tag(:height, t('fill_fencers.form.height')) %><br>
      <%= number_field_tag(:height2, options={min: 80, max: 250, step: 1}) %><p/>

      <%= label_tag(:age, t('fill_fencers.form.age')) %><br>
      <%= number_field_tag(:age2, options={min: 4, max: 120, step: 1}) %><p/>

      <%= label_tag(:ranking_label, t('fill_fencers.form.ranking')) %><br>
      <%= number_field_tag(:ranking2, options={min: 4, max: 120, step: 1}) %><p/>

      <%= label_tag(:handness_label, t('fill_fencers.form.handness.description')) %><br>
      <%= radio_button_tag(:handness2, "Right") %> <%= t('fill_fencers.form.handness.right') %><p/>
      <%= radio_button_tag(:handness2, "Left") %> <%= t('fill_fencers.form.handness.left') %><p/>

      <%= label_tag(:weapon_label, t('fill_fencers.form.weapon.description')) %><br>
      <%= radio_button_tag(:weapon2, "Epee") %> <%= t('fill_fencers.form.weapon.epee') %><p/>
      <%= radio_button_tag(:weapon2, "Sabre") %> <%= t('fill_fencers.form.weapon.sabre') %><p/>
      <%= radio_button_tag(:weapon2, "Foil") %> <%= t('fill_fencers.form.weapon.foil') %><p/>

    </div>
  </div>
  <div class="col-xs-5">
  </div>
  <div class="col-xs-5">
    <%= label_tag(:tableu_label, t('fill_fencers.form.tableu')) %><br>
    <%= number_field_tag(:tableu, options={min: 2, max: 1024, step: 2}) %><p/>

    <%= submit_tag(t('fill_fencers.form.submit'), class: 'btn btn-primary float-right') %>
  </div>
<% end %>
